

.custombtn {
    border-radius: 8px;
    background: #FD2DC3;
    border: none;
}

.bg-success {
    background-color: lightpink !important;
}

.btn-outline-primary {
    background-color: lightpink !important;
    color: #fff !important;
    border: none;
}

.card-title_costom {
    color: #FD2DC3;
}

.viewallreviews {
    color: #FD2DC3;

    &:hover {
        color: lightpink !important;
    }
}

.subscription {
    background-color: #FD2DC3 !important;
    border: none;
}

.remote {
    background-color: #FD2DC3 !important;
    color: #FACDE5 !important;
}

.media-viewer-icon {
    background-color: #FD2DC3;
    color: #FACDE5;
}