.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4B4C4E !important;
  // position: fixed;
  left: 0;
  right: 0;
  // top: 50px;
  z-index: 100;
  padding: 10px 10px 0;
  background-color: #fff;

  & nav {
    @media (max-width: 1020px) {
      display: none;
    }
  }
  
  // header-navItems
  &-navItems {
    height: 60px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 50px;

    // header-navItems li
    & li {
      cursor: pointer;
      width: 120px;
      height: 50px;
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      text-align: center;
      transition: .5s all;

      & > a {
        &:hover {
          color: #FD2DC3 !important;
        }
      }

      &:hover {
        color: #FD2DC3;
      }

      .dropdown-Items {
        position: absolute;
        background-color: #fff;
        top: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 250px;
        padding: 10px 20px;
        display: none;
        border-top: 2px solid lightpink;
        box-shadow: 1px 1px 5px 1px lightgrey;
        transition: .5s all;

        & > a {
          color: #4B4C4E;
          text-align: left;
          transition: .3s;

          &:hover {
            color: #FD2DC3;
          }
        }
      }
    }
  }
}

// logo image
.header img {
  width: 60px;
  height: 60px;
  transform: scale(1.2);
  
  @media (min-width: 640px) {
    width: 80px;
    transform: scale(1.9);
    padding-left: 30px;
  }
}

//  hamburger menu bar
.toggle {
  position: relative;
  width: 50px;
  height: 40px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(255, 254, 254, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;

  @media (min-width: 1020px) {
    display: none;
  }
}

.toggle span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #F18DBC;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-7px);
  width: 20px;
  left: 10px;
}

.toggle span:nth-child(2) {
  transform: translateY(7px);
  width: 20px;
  left: 10px;
}

.toggle.toggled span:nth-child(3) {
  transform: translateX(-50px);
}

.toggle.toggled span:nth-child(1) {
  width: 30px;
  transform: rotate(45deg);
}

.toggle.toggled span:nth-child(2) {
  width: 30px;
  transform: rotate(-45deg);
}


//  logi in li
.signIn {
  border-radius: 8px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.40) 124.34%);
  color: aliceblue;
  padding: 10px 30px;
}

.hirenow {
  line-height: 40px;
  padding: 0 15px;
  height: 40px;
  border-radius: 8px;
 
    
  & > a {
    color: #fff;
  }
}

.liOneDesk:hover {
  .dropdownOne {
    display: flex !important;
  }
}

.liTwoDesk:hover {
  .dropdownTwo {
    display: flex !important;
  }
}

.liThreeDesk:hover {
  .dropdownThree {
    display: flex !important;
  }
}

.liFourDesk:hover {
  .dropdownFour {
    display: flex !important;
  }
}

.liFiveDesk:hover {
  .dropdownFive {
    display: flex !important;
  }
}