.top {
    height: 50px;
    z-index: 10;
}


#textarea {
    border: .0625rem solid rgba(33,50,91,.1);
}

.Gotohome {
    display: flex;
    justify-content: flex-end;

    & > a {
        color: #fff;
        transition: .5s all;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

.form-check-downloadCV {
    display: flex;
    justify-content: center !important;

    & > button {
        width: 183px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #FD2DC3;
        color: #fff;    
    }
}

.portfolioInput,
.linkedinInput {
    height: 90%;
    border: 1px solid lightgrey;
}

.linksContainer {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p {
        display: block;
        margin: 0;
        height: 100%;
        line-height: 50px;
    }
}

.add {
    padding: 10px 20px;
    background-color: #FD2DC3;
    color: #fff;
    border-radius: 8px;
    transition: .5s;

    &:hover {
        background-color: lightpink;
    }
}

.dateInputs {
    display: flex;
    align-items: center;
    gap: 10px;
}


.nav-link.active {
    color: #FD2DC3 !important;
}

.nav-vertical.nav-tabs .nav-link.active  {
    border-color: #FD2DC3;
}
table {

    border-collapse: collapse;
    width: 600%;
    margin-bottom: 20px;
    background-color: #ffff;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #ffff;
    font-weight: bold;
  }
  
  tr:not(:last-child) td {
    border-bottom: 1px solid #dddddd;
  }
  
  th {
    border: none;
  }
  
  td {
    border-left: none;
    border-right: none;
  }
.assigned {
    table {
  
      tbody {
        td {
          
          span.specs-text {
            background-color: #FF7BED;
            color: #ffff;
            border-radius: 30%; 
            padding: 4px 8px; 
            display: inline-block; 
          }
        }
      }
    }
  }
  
  .candidates::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Style the scrollbar track */
  .candidates::-webkit-scrollbar-track {
    background: #f0f0f0; /* Color of the track */
  }
  
  /* Style the scrollbar thumb */
  .candidates::-webkit-scrollbar-thumb {
    background-color: #a0a0a0; /* Color of the thumb */
    border-radius: 5px; /* Border radius of the thumb */
  }

  th, td {
    border-left: 1px solid grey;
  }
