.newpassword {
    color: #4B4C4E;

    & .top {
        height: 70px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        position: absolute;
        top: 1%;
        left: 0;
        right: 0;

        & img {
            height: 100%;
            transform: scale(1.3);
            width: 60px;
        }
    }

    & .newpasswordMain {
        display: flex;
        z-index: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        justify-content: center;

        & .newpassword-image {
            display: none;

            @media (min-width: 910px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
                width: 45%;
                background: rgba(255, 123, 237, 0.50);

                & h2 {
                    font-style: italic;
                } 

                & .desc {
                    font-size: 1.3em;
                    width: 60%;
                    text-align: center;
                }

                & img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                }

                & h3 {
                    font-size: 1.1em;
                    font-weight: 700;
                }
            }
        }

        & .newpasswordForm {
            margin: 0 auto;
          
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            align-self: center;

            & h2 {
                font-size: 1.5em;
    text-align: center;
    margin: 15px 0 5px;;
            }

            & form {
               
                display: flex;
                flex-direction: column;
           
                width: 100%;
                max-width: 450px;
                
                & div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    & label {
                        display: flex;
                        justify-content: space-between;
                    }

                    & input {
                        height: 40px;
                        padding-left: 5px;
                        border: .0625rem solid rgba(33,50,91,.1);
                        outline: none;
                        margin-bottom: 5px;

                        &:focus {
                            border: none;
                            box-shadow: 0 0 5px rgba(33, 50, 91, 0.5); /* Add this line to create a box shadow on click */
                        }
                    }

                }

                & button {
                    margin: 10px;
                    height: 40px;
                    border-radius: 5px;
                    background-color: #FD2DC3;
                    color: #fff;
                }
            }
        }
    }
}

.cta {
    color: #FD2DC3;
}