.save {
    background-color: #FD2DC3 !important;
}

.form-check-input:checked {
    background-color: #FD2DC3;
}

.bg-primary {
    background-color: #FD2DC3 !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #facde5;
}