.otp {
  color: #4B4C4E;
  width: 100%;
  height: 100vh;
  position: relative;

  & .top {
    height: 70px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        position: absolute;
        top: 1%;
        left: 0;
        right: 0;


      & img {
          height: 100%;
          transform: scale(1.3);
          width: 60px;
          cursor: pointer;
      }
  }

  & .otpMain {
      display: flex;
      z-index: 0;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      & .otp-image {
          display: none;

          @media (min-width: 910px) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 15px;
              width: 45%;
              background: rgba(255, 123, 237, 0.50);

              & h2 {
                  font-style: italic;
              } 

              & .desc {
                  font-size: 1.3em;
                  width: 60%;
                  text-align: center;
              }

              & img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50px;
              }

              & h3 {
                  font-size: 1.1em;
                  font-weight: 700;
              }
          }
      }

      & .otpForm {
          margin: 0 auto;
          height: 85vh;
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          align-self: center;

          & h2 {
              font-size: 1.5em;
              text-align: center;
              margin: 15px 0 5px;
          }

          & p {
            text-align: center;
            font-size: .7em;
          }

          & form {
              margin: 20px 0;
              display: flex;
              flex-direction: column;
              gap: 10px;
              max-width: 450px;
              

              & > div {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                  width: 100%;

                  & label {
                      display: flex;
                      font-size: .9em;
                      justify-content: space-between;
                  }

                  & .otpInputs {
                    width: 100%;
                    display: flex;
                    gap: 10px;

                  & input {
                      height: 50px;
                      width: 50px;
                      text-align: center;
                      font-size: 1.8em;
                      padding-left: 5px;
                      border: .0625rem solid rgba(20, 20, 21, 0.1);
                      outline: none;

                      &:focus {
                          border: none;
                          box-shadow: 0 0 5px rgba(33, 50, 91, 0.5); /* Add this line to create a box shadow on click */
                      }
                  }
                }

              }

              & button {
                  margin: 10px;
                  height: 40px;
                  border-radius: 5px;
                  background-color: #FD2DC3;
                  color: #fff;
              }
          }
      }
  }
}

.cta {
  color: #FD2DC3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Optional: You can also hide the arrow icons in Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: none;
}