* {
    font-family: 'Lato', sans-serif;
}


h1,h2,h3,h4,h5,p {
    font-family: 'lato', sans-serif;
}

.lastsection{
    width: 55vw;
    height: auto;
    flex-shrink: 0;
    border-radius: 11px;
    background: rgba(255, 123, 237, 0.32);
    padding: 10px;
   
}

.lastsection1{
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.heroText {
        
    @media (min-width: 600px) {
        font-size: calc(1.85rem + 1.5vw);   
    }

    @media (min-width: 900px) {
        font-size: calc(2rem + 1.5vw);
    }
}

.getStarted {
    border-radius: 8px;
    // background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(0, 63, 189, 0.4) 124.34%);
    border: none;
}

.ctabutton-1{
    background: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #4B4C4E;
}

.ctabutton-1:hover{
    transition: 10ms;
    background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(0, 63, 189, 0.4) 124.34%);
    color: #F0ECEC;
    border: none;
}

.backgroundcolor1{
    background-color: rgba(255, 123, 237, 0.15);
}

.learnmore {
    color: #FD2DC3;
}
.animatedText {
    margin-left: 10px;
    color: #FD2DC3;
    // opacity: 0.3;
}

.fraktionalDev {
    border-radius: 15px;
    background: #f7faf9;
}


.card-img {
    // height: 200px;
    width: 100% !important;
}

.stats {
    background: rgba(255, 123, 237, 0.15);
}

.card-title {
    color: #252525;
    transition: .5s all;
}

.card-title:hover {
    color: #FD2DC3 !important;
}


.koalaContainer {
    height: 85vh;
   
    
    padding-left: 10%;
}

.koalaHero {
    height: 115%;
    position: relative;
    top: -20%;
    transition: 0.2ms;
}


// .koalaHero:hover{
//     scale: 1.05;

// }

.card-link {
    transition: .5s all;

    &:hover {
        color: #FD2DC3 !important;
    }
}

.list-checked-item::before {
    color: #FD2DC3 !important;
}
