.sidenav {
    width: 200px;
    height: 40em;
    background-color: #fff;
    color: #333;
    position: fixed;
    top: 2em;
    left: 5em;
    border: 1px solid #FF7BED;
    z-index: 1; 
  }
  
  .sidenav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .sidenav a:hover {
    background-color: #FF7BED;
    color: #fff;
  }
  .center-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.company p {
    margin: 5px 0; 
}
.navHeader {
  display: flex;
  gap: 0; 
}

.navHeader h6 {
  margin: 0;
  left: 1em;
}