.step .active .step-title, .step .active.is-valid .step-title {
    color: #FD2DC3 !important;
    
}

.step .active .step-icon, .step .active.is-valid .step-icon {
    background-color: #FD2DC3 !important;
}

.form-control.error {
    border: 2px solid #FD2DC3 !important;
}