/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/homepage.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@media (min-width: 600px) {
  .heroText {
    font-size: calc(1.85rem + 1.5vw);
  }
}
@media (min-width: 900px) {
  .heroText {
    font-size: calc(2rem + 1.5vw);
  }
}

.getStarted {
  border-radius: 8px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.4) 124.34%);
  border: none;
}

.backgroundcolor1 {
  background-color: rgba(255, 123, 237, 0.15);
}

.learnmore {
  color: #FD2DC3;
}

.animatedText {
  margin-left: 10px;
  color: #FD2DC3;
}

.fraktionalDev {
  border-radius: 15px;
  background: rgba(255, 123, 237, 0.15);
}

.card-img {
  width: 100% !important;
}

.stats {
  background: rgba(255, 123, 237, 0.15);
}

.card-title {
  color: #252525;
  transition: 0.5s all;
}

.card-title:hover {
  color: #FD2DC3 !important;
}

.koalaContainer {
  height: 85vh;
}

.koalaHero {
  height: 130%;
  position: relative;
  top: -20%;
}

.card-link {
  transition: 0.5s all;
}
.card-link:hover {
  color: #FD2DC3 !important;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/components/Footer/Footer.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer {
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.4) 124.34%);
}
@media (min-width: 812px) {
  .footer {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 350px;
    justify-content: space-evenly;
  }
}
.footer > div {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 280px;
}
.footer > div div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer > div div img {
  width: 130px;
  height: 150px;
}
.footer > div h2 {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
}
.footer > div p {
  display: flex;
  gap: 10px;
  font-family: "Avenir";
  font-size: 16px;
  font-weight: 400;
}

.footer * {
  color: #fff;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/components/Header/Header.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4B4C4E !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  z-index: 100;
  padding: 10px 10px 0;
  background-color: #fff;
}
@media (max-width: 1020px) {
  .header nav {
    display: none;
  }
}
.header-navItems {
  height: 60px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 50px;
}
.header-navItems li {
  cursor: pointer;
  width: 120px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  transition: 0.5s all;
}
.header-navItems li > a:hover {
  color: #FD2DC3 !important;
}
.header-navItems li:hover {
  color: #FD2DC3;
}
.header-navItems li .dropdown-Items {
  position: absolute;
  background-color: #fff;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  padding: 10px 20px;
  display: none;
  border-top: 2px solid lightpink;
  box-shadow: 1px 1px 5px 1px lightgrey;
  transition: 0.5s all;
}
.header-navItems li .dropdown-Items > a {
  color: #4B4C4E;
  text-align: left;
  transition: 0.3s;
}
.header-navItems li .dropdown-Items > a:hover {
  color: #FD2DC3;
}

.header img {
  width: 60px;
  height: 60px;
  transform: scale(1.2);
}
@media (min-width: 640px) {
  .header img {
    width: 80px;
    transform: scale(1.9);
    padding-left: 30px;
  }
}

.toggle {
  position: relative;
  width: 50px;
  height: 40px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(255, 254, 254, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-right: 10px;
}
@media (min-width: 1020px) {
  .toggle {
    display: none;
  }
}

.toggle span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #F18DBC;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-7px);
  width: 20px;
  left: 10px;
}

.toggle span:nth-child(2) {
  transform: translateY(7px);
  width: 20px;
  left: 10px;
}

.toggle.toggled span:nth-child(3) {
  transform: translateX(-50px);
}

.toggle.toggled span:nth-child(1) {
  width: 30px;
  transform: rotate(45deg);
}

.toggle.toggled span:nth-child(2) {
  width: 30px;
  transform: rotate(-45deg);
}

.signIn {
  border-radius: 8px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.4) 124.34%);
  color: aliceblue;
  padding: 10px 30px;
}

.hirenow {
  line-height: 40px;
  padding: 0 15px;
  height: 40px;
  border-radius: 8px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.4) 124.34%);
}
.hirenow > a {
  color: #fff;
}

.liOneDesk:hover .dropdownOne {
  display: flex !important;
}

.liTwoDesk:hover .dropdownTwo {
  display: flex !important;
}

.liThreeDesk:hover .dropdownThree {
  display: flex !important;
}

.liFourDesk:hover .dropdownFour {
  display: flex !important;
}

.liFiveDesk:hover .dropdownFive {
  display: flex !important;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/banner/banner.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.banner {
  width: 100%;
  height: 50px;
  z-index: 101;
  position: fixed;
  display: flex;
  justify-content: center;
  line-height: 50px;
  background-color: #FF7BED;
  color: white;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/components/MobileMenu/MobileMenu.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.mobileMenu {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 10000px;
  top: 60px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  transition: 0.5s all;
}
.mobileMenu.open {
  right: 0;
}

.mobileMenu ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
  position: relative;
  right: 10000px;
  transition: 0.5s all;
}
.mobileMenu ul.open {
  right: 0;
}

.mobileMenu li {
  font-size: 1.5em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 35px;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.mobileMenu li .dropdown-Items_Mobile {
  display: none;
  flex-direction: column;
  gap: 15px;
  top: 35px;
  position: absolute;
  background-color: #fff;
  color: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  font-size: 14px;
  padding: 10px;
  z-index: 10;
  border-top: 2px solid #FD2DC3;
  box-shadow: 1px 1px 5px 1px lightgrey;
}
.mobileMenu li .dropdown-Items_Mobile > a {
  color: #000;
  padding: 5px;
  height: 20px;
  line-height: 20px;
  font-size: 1 em;
}

.mobileMenu a {
  text-decoration: none;
  color: transparent;
  color: lightgray;
  opacity: 0.6;
}

.mobileMenu a.active {
  border-bottom: none;
  opacity: 1;
  color: lightgray;
  font-size: 1.2em;
}

.dropdownOne,
.dropdownTwo,
.dropdownThree,
.dropdownFour,
.dropdownFive {
  display: none !important;
}

.dropdownOne.clicked,
.dropdownTwo.clicked,
.dropdownThree.clicked,
.dropdownFour.clicked,
.dropdownFive.clicked {
  display: flex !important;
}

.hirenow {
  line-height: 40px;
  padding: 0 15px;
  height: 100px;
  border-radius: 1px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.4) 124.34%);
}
.hirenow > a {
  color: #fff;
}
