/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/homepage.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.getStarted {
  border-radius: 8px;
  background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(75, 76, 78, 0.4) 124.34%);
  border: none;
}

.learnmore {
  color: #FD2DC3;
}

.animatedText {
  margin-left: 10px;
  color: #FD2DC3;
}

.fraktionalDev {
  border-radius: 15px;
  background: rgba(255, 123, 237, 0.15);
}

.stats {
  background: rgba(255, 123, 237, 0.15);
}

.card-title {
  color: #252525;
  transition: 0.5s all;
}

.card-title:hover {
  color: #FD2DC3 !important;
}
