.companyRegister {
    position: relative;
    top: 100px;

    & button {
        border: none;
    }
}
.display-4{
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 600;
    line-height: 1.2;
}

.launching-text {
    margin: 100px 0 200px;
}

.content-container {
    padding: 100px;
    margin: 50px auto;
    background-color: #e5e7eb;
    border-radius: 20px;
}

.company-form {

    & .inputs-container {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        

        & .mb-4 {
            max-width: 250px;
            min-width: 250px;
        }

    }
}

// stats, images in triangle amd how many copies hv been purchased 
.container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    padding: 10px 0;
    height: fit-content;
}

.card-container {
    width: 270px;
    height: 350px;
    margin: 0;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent !important;
    border: none;

    // blue circle icons
    & span {
        width: fit-content;
        margin: 0 auto;
    }
}

.card-ul-container {
    height: 150px;
}


.card-footer {
    border: none;
    background-color: transparent;

    & button {
        width: 70%;
        margin: 0 auto;
        height: 40px;
        border: none;
    }
}

.card2 {
    height: 400px;
}

.card3 {
    height: 450px;
}

.custom-plan {
    border: 1px solid rgba(33, 50, 91, 0.1);
    width: fit-content;
    padding: 10px 20px;
    margin: 10px auto 100px;
    border-radius: 20px;

    & a {
        text-decoration: none;
    }
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 150px auto 10px;
}

.calender-container {
    background-color: #e5e7eb;
    padding: 100px 10px;
}

.calender-nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    & li {
        height: 40px;
        border-radius: 20px;
        overflow: hidden;

        & a {
            height: 100%;
        }
    }

    & li a.active {
        color: #1e2022 !important;
        background-color: #fff !important;
        box-shadow: 0 .1875rem .375rem 0 rgba(140,152,164,.25) !important;
    }

    & .active {
        border-bottom: 0; 
        padding-bottom: 0;
    }
}

.contactsSection {
    padding: 100px;
    margin: 100px 0;
}

footer.container {
    margin-bottom: 20px;

    & img {
        height: 70px;
        width: 70px;
    }

    & li {
        padding: 0 5px;

        & a {
            text-decoration: none;
        }
    }
}
