.button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}


.button-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    color: white;
    background: linear-gradient(90deg, #FD2DC3 -2.8%, rgba(0, 63, 189, 0.4) 124.34%);
    border-radius: 5px;
    padding: 10px;
    transition: 0.2s;
}

.button-1:hover{
    background: transparent;
    border: 1px solid #4B4C4E;
    color: black;

}