table {
    border-collapse: collapse;
    width: 300%;
    margin-bottom: 20px;
    background-color: #ffff;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #ffff;
    font-weight: bold;
  }
  
  tr:not(:last-child) td {
    border-bottom: 1px solid #dddddd;
  }
  
  th {
    border: none;
  }
  
  td {
    border-left: none;
    border-right: none;
  }
.assigned {
    table {
  
      tbody {
        td {
          
          span.specs-text {
            background-color: #FF7BED;
            color: #ffff;
            border-radius: 30%; 
            padding: 4px 8px; 
            display: inline-block; 
          }
        }
      }
    }
  }
  