.stats {
    padding: 50px 10px;
    margin: 100px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 15px;
    background: rgba(255, 123, 237, 0.15); 

    @media (min-width: 1019px) {
        margin: 100px;
    }

    & > div {
        text-align: center;
        width: 250px;

        & h2 {
            font-size: 2em;
            font-weight: 700;
        }
    }
}